body{
    background-image: url("../images/lakers.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
     form.container {
    max-width: 600px;
    background-color:rgb(98, 50, 174, 0.8);
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', sans-serif;
}

form.container h2 {
    text-align: center;
    color: #fdd835; /* Lakers žltá */
    margin-bottom: 25px;
}

form.container label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

form.container .form-control {
    background-color: #2a2a40;
    border: none;
    color: #fff;
}

form.container .form-control:focus {
    background-color: #333352;
    box-shadow: none;
    border: 1px solid #fdd835;
}

form.container .mb-3 label input[type="checkbox"] {
    margin-right: 6px;
    transform: scale(1.2);
}

form.container .btn-success {
    background-color: #fdd835;
    color: #1c1c1c;
    border: none;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

form.container .btn-success:hover {
    background-color: #ffe64d;
}

form.container .btn-secondary {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #666;
    border: none;
}

form.container .btn-secondary:hover {
    background-color: #888;
}