body{
    background-image: url("../images/lakers.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }